@import "tailwindcss";

:root {
  /* Artinapia Color Palette */
  --color-red: #d0442b;
  --color-blue-light: #aac5e3;
  --color-cream: #fdfcf8;
  --color-pink: #e28eb5;
  --color-green: #8d9545;
  --color-gold: #e6bc5e;
  --color-blue: #306fe5;
  --color-dark-green: #192e1f;
  --color-black: #171414;
}

@theme inline {
  --color-cream: #fdfcf8;
  --color-red: #d0442b;
  --color-blue-light: #aac5e3;
  --color-pink: #e28eb5;
  --color-green: #8d9545;
  --color-gold: #e6bc5e;
  --color-blue: #306fe5;
  --color-dark-green: #192e1f;
  --color-black: #171414;
}

body {
  background-color: #f5d5e5;
  color: var(--color-black);
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}
